/**********************/
/**** Page Styles *****/
/**********************/

.aboutaside {
  font-size: .8em;
  font-style: normal;
}

.leftcontentcolumn {
  width: 100%;
  float: none;
  @media screen and (min-width: 700px) {
    width: 19.4%;
    float: left;
  }
}

.rightcontentcolumn {
  float: left;
  margin: 0;
  margin-top: 2em;
  width: 100%;
  @media screen and (min-width: 700px) {
    float: left;
    margin-left: 6%;
    margin-top: 0;
    width: 74%;
  }

  li {
    list-style: disc inside;
    line-height: 1.5em;
    font-size: .8em;
    font-weight: 300;
    font-style: normal;
  }
}

/**********************/
/****** About *********/
/**********************/

#about {  
  .rightcontentcolumnone {
    clear: both;
    float: none;
    margin-top: 2em;
    width: 31%;

    @media screen and (min-width: 700px) {
      clear: none;
      float: left;
      margin-left: 6%;
      margin-top: 0;
      width: 13%;
    }
  }

  .rightcontentcolumntwo {
    clear: both;
    float: none;  
    margin-top: 1em;
    width: 100%;

    @media screen and (min-width: 700px) {
      clear: none;
      float: left;
      margin-left: 6%;
      margin-top: 0;
      width: 38.8%;
    }

    p {
      font-size: .85em;
      line-height: 1.5em;
    }

    h3 {
      margin-bottom: .5em;
      margin-top: 1.5em;
      &.first {
        margin-top: 0;
      }
    } 
    h4 {
      display: inline-block;
      font-size: .95em;
      font-weight: 500;
    } 
    small {
      font-size: .85em;
    }
  } //end rightcontentcolumntwo


  .rightcontentcolumnthree {
    clear: both;
    float: none;
    margin-top: 1em;
    width: 100%;
    @media screen and (min-width: 700px) {
      clear: none;
      float: left;
      margin-left: 6%;
      margin-top: 0;   
      width: 16.6%;
    }
    
    h3 {
      margin-bottom: 1em;
    }
    
    h4 {
      margin-bottom: .25em;
    }

    p {
      font-size: .85em;
      margin-top: 0;
    }
    
    .resume-pdf {
      background: $teal;
      display: block;
      margin-top: 2em;
      text-decoration: none;
      text-align: center;
      padding: .5em 10px;
      width: 100%;
      max-width: 170px;
      &:hover {
        background: #000;
        color: $teal;
        border-bottom: 0; 
      }
      small {
        color: #FFF;
        letter-spacing: .1em;
        font-weight: 500;
        &:before {
          content: url('../../../assets/images/icon-doc.svg');
          display: block;
        }
      }
    }
  }

  .experience, .education {
    list-style-type: none;
    line-height: 1.25em;
    font-size: .85em;
    li {
      margin-bottom: .75em;
    }
  }
} //end about


/**********************/
/****** Services ******/
/**********************/

#services {
  .services_intro {
    clear: both;
    float: none;
    width: 100%;
    margin-bottom: 1.75em;
    @media screen and (min-width: 700px) {
      clear: none;
      float: left;
      width: 86%;
    }
  }

  .services_column {
    clear: both;
    float: none;
    margin-top: 1.5em;
    width: 100%;
    @media screen and (min-width: 700px) {
      clear: none;
      float: left;
      margin: 0 1em;
      width: 27%;
      
      .lastcolumn {
        margin-right: 0;
      }
      p {
        font-size: .9em;
      }
    }
  }

  .servicesaside {
    width: 100%;
    font-size: .8em;
  }

  .services.cf .servicesaside {
    display: none;
    visibility: hidden;
    @media screen and (min-width: 700px) {
      display: block;
      visibility: visible;
    }
  }
} //end services

/**********************/
/****** Work ******/
/**********************/

#work {
  .slide {
    &.identity, &.print {
      margin-top: 3em;
      @media screen and (min-width: 700px) {
        margin-top: 5em;
      }
    }
  }
}

#about, #services, #work {
  border-top: 2px solid white;  
}
