/**********************/
/*** Footer Styles ****/
/**********************/

footer {
  width: 100%;
  background: black;
  min-height: 4em;
  margin: 0;
  list-style-type:none;
  position: relative;
  display: block;
  clear: both;
  font-size: .9em;
  color: #fff;   

  .footer-inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 2.25em 3% 2.75em; 
    max-width: 1020px;
  }

  a, a:link, a:visited {
    color: $teal;
  }

  a:hover {
    border-bottom: 2px solid $teal;
  }

  .contact {
    margin: 0 3% 1em 0;
    position: relative;
    text-align: center;
    width: 100%;
    @media screen and (min-width: 835px) {
      float: left;
      margin: 0 1% 0 0;
      text-align: left;
      width: 69%;
    }
    li {
      line-height: 2.25em;
      list-style: none;
      border-left: 1px solid $red; 
      padding: 0 0 0 .5em;
      margin-bottom: 1em;
      @media screen and (min-width: 500px) {
        display: inline;
        padding: 0 .75em 0 .5em;
        margin-bottom: 0;
      }    
    }
    h4 {
      display: inline-block;
      font-size: .9em;
    }
  } //end contact

  .social-media {
    clear: both;
    text-align: center;
    width: 100%;
    @media screen and (min-width: 835px) {
      clear: none;
      float: right;
      display: block;
      position: relative;
      text-align: right;
      width: 30%;
    }
    
    a {
      display: inline-block;
      height: 30px;
      margin: 0 7px;
      width: 30px;
      span {
        visibility: hidden;
      }
    }

    .icon {
      background-image: url(../../../assets/images/jpdesign_socialmediaicons.png);
      background-repeat: no-repeat;
      background-color: transparent;
      &:hover {
        border-bottom: 0;
      }
    }

    .twitter {
      background-position: 0 top;
      &:hover {
        background-position: 0 bottom;
      }
    }

    .linkedin {
      background-position: -30px top;
      &:hover {
        background-position: -30px bottom;
      }
    }

    .instagram {
      background-position: -60px top;
      &:hover {
        background-position: -60px bottom;
      }
    }

    .dribbble {
      background-position: -90px top;
      &:hover {
        background-position: -90px bottom;
      }
    }

    .github {
      background-position: -120px top;
      &:hover {
        background-position: -120px bottom;
      }
    }

  } //end social media

} //end footer