$font-stack-serif: "museo-slab-1", "museo-slab-2", georgia, serif;
$font-stack-sans: "museo-sans-1", "museo-sans-2", "avenir", "helvetica neue", helvetica, sans-serif;

$red: #EB4446;
$teal: #4BBFBE;
$darker-teal: #3C9997;

$link-color: $darker-teal;